
@charset "UTF-8";
/* CSS Document */



body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}



.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.white {
  border-radius:5px;
  background-color:white;
  padding-top: 35px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:20px;
  width: 100%


}
 .purple{
  background-color: #4f2683;
  padding: 25px;
  width:100%;

 }
.whiteLeft{
  border-radius:5px;
  background-color:white;
  padding-top: 35px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:20px;
  width: 100%;
  text-align:left;
}
.eggshell{
  background-color:#ededd3;
  width:100%;
  height:150px;

}
.purpleHeader {
  color:#4f2683;
  text-align:center;

}
.purpleText {
  color:#4f2683;
}